*.opensdf
*.sdf
*.suo
*.user
build/win/out/
build/bsd/
build/linux/
*.*~
*.csv
*.exp
bin/
lib/
build/
unity3d/Library/metadata/
unity3d/Library/
unity3d/Temp/
unity3d/Assets/UnityVS/
*UnityVS*
unity3d/obj/
